/*
1. Posicionamiento
2. Modelo de caja (box model)
3. TIpografia
4. Visuales (shadow box)
5. Miscelaneos

*/

:root{
    /*colores*/
    --color-primary: #f7931a;
    --color-primary-soft: #ffe9d5;
    --color-secondary: #1a9af7;
    --color-secondary-soft: #e7f5ff;
    --color-dark-warm: #201e1c;
    --color-dark: #282623;
    --color-light-darker: #bababa;
    --color-background: #faf8f7;
    --color-light: #fff;
    --color-light-dark: #757575;
    /*tamano de letra*/

    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-large: 700;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--color-dark) 16.69%, var(--color-primary) 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 20px;
    align-self: center;
}

.header--title-container h1{
    font-size: 24px;
    font-weight: var(--font-weight-large);
    line-height: 26px;
    color: var(--color-light)
}

.header--title-container p{
    margin-top: 25px;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    color: var(--color-primary-soft);
    line-height: 18px;
}

.header--title-container .header--button{
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    left: calc(50% - 130px);
    background-color: var(--color-light);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--font-weight-large);
    text-decoration: none;
    color: var(--color-dark);

}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 9px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--color-background);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px ;
    font-size: 24px;
    font-weight: var(--font-weight-large);
    line-height: 26px;
    color: var(--color-dark);

}
.main-exchange-container p{
    margin-bottom: 30px ;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 16px;
    color: var(--color-light-dark);
}


.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 300px;
    font-family: "Inter", sans-serif;
    margin: 0 auto;

}

.main-currency-table .currency-table--title{
    color: var(--color-primary);
    text-align: left;
    font-weight: var(--font-weight-large);
    font-size: 18px;
    padding-left: 15px;
    line-height: 23px;

}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
} 

.currency-table--container td{
    width: 50%;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 19px;
    color: var(--color-light-darker);
    background-color: var(--color-light);
}

.currency-table--container .table__top-left{
    border-top-left-radius: 8px;
}

.currency-table--container .table__bottom-left{
    border-bottom-left-radius: 8px;
}

.currency-table--container .table__top-right{
    border-top-right-radius: 8px;
}

.currency-table--container .table__bottom-right{
    border-bottom-right-radius: 8px;
}

.currency-table--container .table__right{
    color: var(--color-light-dark);
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
}

.currency-table--container .down{
    display: inline-block;
    margin-left: 10px;
    width: 12px;
    height: 12px;
    background-image: url(./assets/icons/trending-down.svg);
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.currency-table--container .up{
    display: inline-block;
    margin-left: 10px;
    width: 12px;
    height: 12px;
    background-image: url(./assets/icons/trending-up.svg);
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.main-product-detail{
    width: 100%;
    background-color: var(--color-dark-warm);
    position: relative;
    min-width: 320px;
    height: auto;
    padding: 20px 0;
}

.product-detail--batata-icon{
    background-image: url('./assets/icons/batata.svg');
    position: absolute;
    width: 40px;
    height: 24px;
    left: calc(50% - 25px);
    top: -10px;
}

.product-detail--title{
    position: relative;
    top: 40px;
    text-align: center;
    height: auto;
    min-width: 288px;
    margin: 0 10px;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    line-height: 26px;
    color: var(--color-light);
}

.product-detail--title p{
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-light-dark);
}

.product-cards--container{
    position: static;
    margin-top: 80px;
}

.product-detail--card{
    width: calc(90% - 20px);
    min-width: 260px;
    max-width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--color-dark);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    min-height: 150px;
}

.product-card--title{
    color: var(--color-light);
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.product-card--body{
    color: var(--color-light-dark);
    font-size: 14px;
    line-height: 18px;
    font-weight: var(--font-weight-medium);
}

.main-product-detail .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-product-detail .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/eye.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-product-detail .dollar-sign{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/dollar-sign.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-product-detail .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/check-circle.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.bitcoin-img-section{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-section h2{
    margin: 0;
    padding-top: 60px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-light);
    text-align: center;
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    text-align: center; 
    padding-bottom: 70px;
}

.plans-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans-title h2{
    padding-top: 50px;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    color: var(--color-dark-warm);
}

.plans--title p{
    padding-top: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #757575;
}

.plans-container--card{
    position: relative;
    width: 60%;
    min-width: 200px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--color-light);
    border-radius: 15px ;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended{
    padding: 6px;
    position: absolute;
    width: 100px;
    height: 30px;
    left: calc(50% - 50px);
    top: -15px;
    background-color: var(--color-primary);
    border-radius: 10px;
    color: var(--color-light);
    font-size: 12px;
}
.plan-card--title{
    padding-top: 30px;
    font-size: 14px;
    font-weight: 500px;
    line-height: 18px;
    color: var(--color-dark-warm);

}
.plan-card--price{
    padding: 5px 0;
    font-size: 52px;
    font-weight: bold;
    line-height: 50px;
    color: var(--color-dark-warm);
    margin: 0;
    position: relative;
}

.plan-card--price span{
    font-size: 14px;
    position: absolute;
    top: -5px;
    left: calc(50% - 40px);
}

.plan-card--saving{
    font-size: 12px;
    color: var(--color-light-dark);

}

.plan-card--ca{
    width: 140px;
    height: 40px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--color-background);
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    line-height: 18px;
    color: var(--color-dark);
    font-family: 'DM Sans', sans-serif;
}

.plan-card--ca span{
    background-image: url('./assets/icons/orange-right-arrow.svg');
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}